.weather-data-container {
    display: flex;
    flex-direction: row;
    width: 70vw;
    height: 65%;
    margin: 10px;
    justify-content: center;
}

.weather-data-output {
    background-color: #112A46;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: #f0f6fd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.weather-data-output img {
    width: 100px;
    height: 100px;
}

.weather-data-output h2 {
    font-size: 2em;
    margin: 10px 0;
}

.weather-data-output .place-name {
    font-size: 1.5em;
    margin: 10px 0;
}

.data-flex {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.data-flex {
    margin: 0;
}