.weather-data-container {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 600px;
    background-color: red;
}

.weather-data-output {
    background-color: #4198ea;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: #f0f6fd;
    margin-top: 20px;
    width: 300px;
}

.weather-data-output img {
    width: 100px;
    height: 100px;
}

.weather-data-output h2 {
    font-size: 2em;
    margin: 10px 0;
}

.weather-data-output .place-name {
    font-size: 1.5em;
    margin: 10px 0;
}

.data-flex {
    display: flex;
    justify-content: space-between;
}

.data-flex {
    margin: 0;
}