#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search {
  margin: 5px;
  padding: 5px;
  width: 90%;
}

.search input {
 padding: 5px;
 font-size: 1.2rem;
 margin: 5px;
 border-radius: 20px;
 padding: 10px;
 width: 60%;
 height: 10%;
 border: none;
 box-shadow: #051629 0px 3px 8px;
}

.search button {
  background-color: #406689;
  border-radius: 20px;
  border: none;
  padding: 12px;
  width: 15%;
  color: white;
  box-shadow: #051629 0px 3px 8px;
  font-size: 1.1rem;
}

.weather-data h2{
  font-size: 2em;
}
