#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  position: relative;
}

.input {
  border: none;
}

.app input {
  margin: 5px;
  font-size: 25px;
  margin-left: 40px;
}

.app button {
  background-color: aqua;
}

.weather-data h2{
  font-size: 2em;
}
