#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app input {
 padding: 5px;
 font-size: 1.5rem;
 margin: 5px;
 border-radius: 5px;
}

.app button {
  background-color: aqua;
}

.weather-data h2{
  font-size: 2em;
}

/* needs to be modified */
